<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">

    <form id="file-form" enctype="multipart/form-data" method='post' action ='/'>
        <input type="file" name="the-file" />
        <input type="submit" value="Upload" />
    </form>

</body>
</html>